.individual_block_top {
    display: flex;
    margin-top: 20px;

}

.individual_box_left {
    width: 50%;
    display: flex;
    justify-content: center;
}

.individual_block_right {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

#individual_main_text {
    font-family: 'Montserrat', ;
    font-size: 40px;
    color: #242424;
    margin-bottom: 40px;
    margin-top: 68px;
    line-height: 40px;
}

#individual_text_bottom {
    margin-top: 16px;
    text-align: justify;
}

.individual_block_bottom {
    display: flex;
}

.individual_box_left_bottom {
    width: 50%;
}

#individual_image_bottom {
    width: 550px;
}

.individual_box_left_top {
    margin-left: 50px;

}

@media (max-width:400px) {
    #individual_main_text {
        font-size: 24px;
        line-height: 26px;
        margin-top: 10px;
    }

    #individual_image_bottom {
        width: 100%;
    }

    .individual_block_top {
        display: block;
        margin-top: 20px;

    }

    .individual_box_left_top {
        margin-left: 0px;
    }

    .individual_block_right {
        width: 100%;
        display: block;
        justify-content: center;
        margin-left: 0px;
    }

    .individual_block_bottom {
        display: block;
    }

    #individual_img1 {
        width: 100%;
    }

    .individual_box_left {
        width: 100%;
    }

    .individual_box_left_bottom {
        width: 100%;
        margin-top: 80px;
    }
}

@media (min-width:400px) and (max-width: 768.9px) {
    #individual_main_text {
        font-size: 24px;
        line-height: 26px;
        margin-top: 10px;
    }

    #individual_image_bottom {
        width: 100%;
    }

    .individual_block_top {
        display: block;
        margin-top: 20px;

    }

    .individual_box_left_top {
        margin-left: 0px;
    }

    .individual_block_right {
        width: 100%;
        display: block;
        justify-content: center;
        margin-left: 0px;
    }

    .individual_block_bottom {
        display: block;
    }

    #individual_img1 {
        width: 100%;
    }

    .individual_box_left {
        width: 100%;
    }

    .individual_box_left_bottom {
        width: 100%;
        margin-top: 80px;
    }
}

@media (min-width:769px) and (max-width: 1023.9px) {
    #individual_img1 {
        width: 60%;
        object-fit: cover;
        /* display: none; */
    }

    .individual_block_top {
        display: block;
    }

    .individual_box_left {
        width: 100%;
    }

    .individual_block_right {
        width: 100%;
        margin: 0px;
    }

    #individual_text_bottom {
        margin-bottom: 90px;
    }

    #individual_image_bottom {
        width: 60%;
    }

    .individual_block_bottom {
        display: block;

    }

    .individual_box_left_bottom {
        width: 100%;
        display: flex;
        justify-content: center;
    }


}

@media (min-width:1024px) and (max-width: 1200px) {
    .individual_box_left {
        widows: 50%;
    }

    #individual_img1 {
        width: 100%;
        height: 100%;
        /* object-fit: cover; */
    }

    .individual_block_right {
        width: 49%;
        margin-left: 10px;
    }

    .individual_box_left_bottom {
        width: 50%;
    }

    .individual_box_left_top {
        width: 50%;
    }

    #individual_image_bottom {
        width: 100%;
    }

    .individual_block_bottom {
        margin-top: 60px;
    }

    #individual_main_text {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 8px;
    }
}